<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
  </head>

  <body>
    <% include ./common/nav.ejs %>
    <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
      <div class="container">
        <h1 class="text-center top-buffer3"> Endorsement History </h1>
        <h3 class="top-buffer3"> History </h3>
        <table class="table table-bordered top-buffer1" id="careerBody">
          <thead>
            <th>#</th>
            <td>Employee</td>
            <td>Institution</td>
            <td>Qualification</td>
            <td>Academic</td>
            <td>Start Date</td>
            <td>End Date</td>
          </thead>
        </table>
      </div>
    </div>

  </body>
  <script>

    function updateTable(vitaes){
        if(vitaes.length == 0) {
          $("#careerBody").append("<tbody>"+
            "<td colspan='9' class='text-center'>" + "You have not amendd anybody." + "</td>"+
          "</tbody>");
        }
        else{
            for (var i=0; i<vitaes.length;i++) {
              $("#careerBody").append("<tbody>"+
                "<th>" + (i+1) +"</th>"+
                "<td>" + vitaes[i].employee+ "</td>"+
                "<td>" + vitaes[i].institution + "</td>"+
                "<td>" +
                    "<span show>" + vitaes[i].position + "</span>" +
                    "<input class='pose' type='text' hidden></input>" +
                "</td>"+
                "<td>" +
                    "<i class='fa fa-4 fa-" + (vitaes[i].academic ? "check" : "times")+ "' show></i>"+
                    "<input class='academic' type='checkbox' hidden></input>" +
                "</td>"+
                "<td>" +
                    "<span show>" + vitaes[i].from + "</span>" + 
                    "<input class='start' type='date' hidden></input>" +
                "</td>"+
                "<td>" +
                    "<span show>" + vitaes[i].to + "</span>" + 
                    "<input class='end' type='date' hidden></input>" +
                "</td>" +
                "<td>" +
                    "<button id='edit' class='btn btn-secondary btn-edit'>Edit</button>" +
                    "<button id='submit' class='btn btn-success' hash='" + vitaes[i].hash + "' hidden>Confirm</button>" +
                "</td>" +
              "</tbody>");
            }
        }
    }
    function loadVitaes(){
        $('#careerBody > tbody').remove();
        $.get('amend/ajax?addr='+sessionStorage.currentAddress, function(vitaes){
            updateTable(vitaes);
        });
    }

    var vitaes = <%- JSON.stringify(vitaes) %>;
    //var vitaes = [{"position": "engineer", "institution": "abc startup", "from": "20170801", "to": "20170901"}];
    updateTable(vitaes);

    $('#edit').click(function(){
        var tmp = $(this).parents('tr').find('td');
        var show = tmp.find('[show]');
        var hidden = tmp.find('[hidden]');
        show.removeAttr('show');
        show.attr('hidden', '');
        hidden.removeAttr('hidden');
        hidden.attr('show', '');
        if ($(this).text() === "Edit"){
            for (var i=0; i < show.length; i++){
                switch(hidden[i].type){
                    case 'text':
                        hidden[i].value = show[i].textContent;
                        break;
                    case 'checkbox':
                        if (show[i].classList.contains('fa-check'))
                            hidden[i].checked = true;
                        break;
                    case 'date':
                        var dateStr = show[i].textContent.split(' ');
                        var month = '0';
                        switch(dateStr[0]){
                            case 'Jan':
                                month = 1;
                                break;
                            case 'Feb':
                                month = 2;
                                break;
                            case 'Mar':
                                month = 3;
                                break;
                            case 'Apr':
                                month = 4;
                                break;
                            case 'May':
                                month = 5;
                                break;
                            case 'Jun':
                                month = 6;
                                break;
                            case 'Jul':
                                month = 7;
                                break;
                            case 'Aug':
                                month = 8;
                                break;
                            case 'Sep':
                                month = 9;
                                break;
                            case 'Oct':
                                month = 10;
                                break;
                            case 'Nov':
                                month = 11;
                                break;
                            case 'Dec':
                                month = 12;
                                break;
                            default:
                                break;
                        }
                        dateStr = [dateStr[2], ''+month, dateStr[1]];
                        hidden[i].value = dateStr.join('-');
                        break;
                    default:
                        break;
                }
            }
            $(this).text("Cancel");
        }
        else{
            $(this).text("Edit");
        }
    });

    $('#submit').click(function(){
        var vals = $(this).parents('tr').find('td');
        $.post('amend/submit', {
            addr: sessionStorage.currentAddress,
            hash: $(this).attr('hash'),
            pose: vals.find('.pose').val(),
            academic: vals.find('.academic').prop('checked'),
            start: vals.find('.start').val(),
            end: vals.find('.end').val()
        });
    });
  </script>
</html>
