<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
    <style>
      .dropdown-menu-right {
        right: 0;
        left: auto;
      }
    </style>
  </head>

  <body>
    <% include ./common/nav.ejs %>
      <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
        <div class="container">
          <h1 class="text-center top-buffer3"> CV </h1>
          <h3 class+"top-buffer1"> Career Experience</h3>
          <table class="table table-bordered top-buffer1" id="careerBody">
            <thead>
              <th>#</th>
              <td>Position</td>
              <td>Company</td>
              <td>Start Date</td>
              <td>End Date</td>
            </thead>
          </table>
            <hr />
            <h3 class="top-buffer3"> Academic History</h3>
          <table class="table table-bordered top-buffer1" id="academicBody">
            <thead>
              <th>#</th>
              <td>Qualification</td>
              <td>Institution</td>
              <td>Start Date</td>
              <td>End Date</td>
            </thead>
          </table>
          </div>
      </div>

  </body>
  <script>

    function loadVitaes(){
        $('#careerBody > tbody').remove();
        $('#academicBody > tbody').remove();
        $.get('/career/ajax?addr='+$('.curAddr#dropdownMenuLink').text(), function(vitaes){
            if(vitaes[false].length == 0) {
              $("#careerBody").append("<tbody>"+
                "<td colspan='5' class='text-center'>" + "<h1>I get no jobs<h1>" + "</td>"+
              "</tbody>");
            }
            if(vitaes[true].length == 0) {
              $("#academicBody").append("<tbody>"+
                "<td colspan='5' class='text-center'>" + "<h1>I get no schools<h1>" + "</td>"+
              "</tbody>");
            }
            for (var i=0; i<vitaes[false].length;i++) {
              $("#careerBody").append("<tbody>"+
                "<th>" + (i+1) +"</th>"+
                "<td>" + vitaes[false][i].position + "</td>"+
                "<td>" + vitaes[false][i].institution + "</td>"+
                "<td>" + vitaes[false][i].from + "</td>"+
                "<td>" + vitaes[false][i].to + "</td>"+
              "</tbody>");
            }

            for (var i=0; i < vitaes[true].length; i++){
              $("#academicBody").append("<tbody>"+
                "<th>" + (i+1) +"</th>"+
                "<td>" + vitaes[true][i].position + "</td>"+
                "<td>" + vitaes[true][i].institution + "</td>"+
                "<td>" + vitaes[true][i].from + "</td>"+
                "<td>" + vitaes[true][i].to + "</td>"+
              "</tbody>");
            }
        });
    }
    var vitaes = <%- JSON.stringify(vitaes) %>;
    /*var vitaes = {
      false: [{"position": "engineer", "institution": "abc startup", "from": "20170801", "to": "20170901"}],
      true: []
    };*/
    if(vitaes[false].length == 0) {
      $("#careerBody").append("<tbody>"+
        "<td colspan='5' class='text-center'>" + "<h1>I get no jobs<h1>" + "</td>"+
      "</tbody>");
    }
    if(vitaes[true].length == 0) {
      $("#academicBody").append("<tbody>"+
        "<td colspan='5' class='text-center'>" + "<h1>I get no schools<h1>" + "</td>"+
      "</tbody>");
    }
    for (var i=0; i<vitaes[false].length;i++) {
      $("#careerBody").append("<tbody>"+
        "<th>" + (i+1) +"</th>"+
        "<td>" + vitaes[false][i].position + "</td>"+
        "<td>" + vitaes[false][i].institution + "</td>"+
        "<td>" + vitaes[false][i].from + "</td>"+
        "<td>" + vitaes[false][i].to + "</td>"+
      "</tbody>");
    }

    for (var i=0; i < vitaes[true].length; i++){
      $("#academicBody").append("<tbody>"+
        "<th>" + (i+1) +"</th>"+
        "<td>" + vitaes[true][i].position + "</td>"+
        "<td>" + vitaes[true][i].institution + "</td>"+
        "<td>" + vitaes[true][i].from + "</td>"+
        "<td>" + vitaes[true][i].to + "</td>"+
      "</tbody>");
    }

  </script>
</html>
