<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
  </head>

  <body>
    <% include ./common/nav.ejs %>
      <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
        <div class="container">
          <h1 class="text-center top-buffer3"> CV </h1>
          <h3 class="top-buffer1"> Career Experience</h3>
          <table class="table table-bordered top-buffer1" id="careerBody">
            <thead>
              <th>#</th>
              <td>Position</td>
              <td>Company</td>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Vitae ID</td>
            </thead>
          </table>
            <hr />
            <h3 class="top-buffer3"> Academic History</h3>
          <table class="table table-bordered top-buffer1" id="academicBody">
            <thead>
              <th>#</th>
              <td>Qualification</td>
              <td>Institution</td>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Vitae ID</td>
            </thead>
          </table>
          </div>
      </div>

  </body>
  <script>

    function loadVitaes(){
        $('#careerBody > tbody').remove();
        $('#academicBody > tbody').remove();
        $.get('/career/ajax?addr='+$('.curAddr#dropdownMenuLink').text(), function(vitaes){
            updateTable(vitaes, false);
            updateTable(vitaes, true);
        });
    }

    var vitaes = <%- JSON.stringify(vitaes) %>;
    updateTable(vitaes, false);
    updateTable(vitaes, true);
    function updateTable(vitaes, b){
        var body = '#' + (b ? 'academic' : 'career') + 'Body';
        if(vitaes[b].length == 0) {
          $(body).append("<tbody>"+
            "<td colspan='6' class='text-center'>" + "<h1>I get no " + (b?"schools":"jobs") +"</h1>" + "</td>"+
          "</tbody>");
        }
        for (var i=0; i<vitaes[b].length;i++) {
            $(body).append(
                "<tbody>"+
                    "<th>" + (i+1) +"</th>"+
                    "<td>" + vitaes[b][i].position + "</td>"+
                    "<td><abbr title='" + vitaes[b][i].institutionAddr + "'>" +
                        vitaes[b][i].institution +
                    "</abbr></td>"+
                    "<td>" + vitaes[b][i].from + "</td>"+
                    "<td>" + vitaes[b][i].to + "</td>"+
                    "<td class='monospace fit'>" + vitaes[b][i].hash + "</td>"+
                "</tbody>"
            );
        }
    }
  </script>
</html>
