<!DOCTYPE html>
<html>
  <head>
    <% include ./common/script.ejs %>
  </head>
  <body>
    <% include ./common/nav.ejs %>

    <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
      hello
    </div>
  </body>
</html>
