<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
  </head>

  <body>
    <% include ./common/nav.ejs %>
    <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
      <div class="container">
        <h1 class="text-center top-buffer3"> Register </h1>
        <h3 class="top-buffer1">Register</h3>
        <div class="card card-outline-secondary top-buffer1">
          <div class="card-block">
            <form class="form" role="form" method="post" action="/register/submit" autocomplete="off">
              <div class="form-group row top-buffer3" style="margin-top: 1rem">
                <label class="col-lg-2 col-form-label form-control-label text-center">Address</label>
                <div class="col-lg-9 mr-1">
                  <input name="address" class="form-control curAddr" type="text" placeholder="No address selected" readonly="readonly">
                </div>
              </div>
              <div class="form-group row top-buffer3">
                <label class="col-lg-2 col-form-label form-control-label text-center">Your name</label>
                <div class="col-lg-9 mr-1">
                  <input name="name" class="form-control" type="text" placeholder="cabi">
                </div>
              </div>
              <div class="form-group row top-buffer3">
                <label class="col-lg-2 col-form-label text-center" for="role">Role</label>
                <div class="col-lg-9 mr-1 col-form-label">
                  <input type="radio" name="role" value="0" checked>
                  <span>Employee</span>
                    <input type="radio" name="role" value="1">
                  <span>Institution</span>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn-info btn"> Send </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <script>
  // $(".dropdown-menu a").click(function(){
  //   $(".btn:first-child").text($(this).text());
  //   $(".btn:first-child").val($(this).text());
  //
  // });
  </script>
  </body>
</html>
