<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChainVitae</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand"> ChainVitae</a>
      <a class="mr-5"> Now Login as employee </a>
    </nav>

    <!-- <div class="container"> -->
      <div class="row container-fluid sidebar">
        <div class="col-2 px-3" style="background-color: pink; padding-top: 50px">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/career">Career Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CV Maker</a>
            </li>
          </ul>
        </div>
        <div class="col-10">
          <div class="container">
            <h1 class="text-center top-buffer3"> Request for Experience </h1>
            <h3 class="top-buffer1">Request Details</h3>
            <div class="card card-outline-secondary top-buffer1">
              <div class="card-block">
                <form class="form" role="form" autocomplete="off">
                  <div class="form-group row top-buffer1">
                    <label class="col-lg-2 col-form-label form-control-label text-center">Company Name</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Name of the Company">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label form-control-label text-center">Positon</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Position Title">
                    </div>
                  </div>

                  <div class="form-group row top-buffer3">
                    <label class="col-lg-2 col-form-label form-control-label text-center">Your name</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Chan Siu On BB">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label form-control-label text-center">Start Date</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Date when the job started">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label form-control-label text-center">End Date</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Date when the job ended">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label form-control-label text-center">Remark</label>
                    <div class="col-lg-9 mr-1">
                      <input class="form-control" type="text" placeholder="Optional">
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <hr />

            <h3 class="top-buffer3"> Pending </h3>
            <table class="table table-bordered top-buffer1" id="careerBody">
              <thead>
                <th>#</th>
                <td>Qualification</td>
                <td>Institution</td>
                <td>Start Date</td>
                <td>End Date</td>
              </thead>
            </table>
          </div>
        </div>
      </div>
    <!-- </div> -->

  </body>
  <script>
    var vitaes = <%- JSON.stringify(vitae) %>

    if(vitaes.length == 0) {
      $("#careerBody").append("<tbody>"+
        "<td colspan='5' class='text-center'>" + "No pending at this moment" + "</td>"+
      "</tbody>");
    }

    for (var i=0; i<vitaes.length;i++) {
      $("#careerBody").append("<tbody>"+
        "<th>" + (i+1) +"</th>"+
        "<td>" + vitaes[i].position + "</td>"+
        "<td>" + vitaes[i].institution + "</td>"+
        "<td>" + vitaes[i].from + "</td>"+
        "<td>" + vitaes[i].to + "<button type='button' class='close text-center' aria-label='Close'>" +
          "<span aria-hidden='true'>&times;</span>" +
        "</button></td>" +
      "</tbody>");
    }

  </script>
</html>
