<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
  </head>

  <body>
    <% include ./common/nav.ejs %>
    <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
      <div class="container">
        <h1 class="text-center top-buffer3"> Request for Experience </h1>
        <h3 class="top-buffer1">Request Details</h3>
        <div class="card card-outline-secondary top-buffer1">
          <div class="card-block">
            <form class="form" role="form" method="post" action="/request/submit" autocomplete="off">
              <div class="form-group row top-buffer1">
                <label class="col-lg-2 col-form-label form-control-label text-center">Company Addr</label>
                <div class="col-lg-9 mr-1">
                  <input class="form-control" name="address" type="text" placeholder="Ethereum address of the Company">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">Positon</label>
                <div class="col-lg-9 mr-1">
                  <input class="form-control" name="position" type="text" placeholder="Position Title">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">Start Date</label>
                <div class="col-lg-9 mr-1">
                  <input class="form-control" name="start" type="text" placeholder="Date when the job started">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">End Date</label>
                <div class="col-lg-9 mr-1">
                  <input class="form-control" name="end" type="text" placeholder="Date when the job ended">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">Remark</label>
                <div class="col-lg-9 mr-1">
                  <input class="form-control" type="text" placeholder="Optional">
                </div>
              </div>
              <div class="text-right">
                 <button type="submit" class="btn-info btn"> Send </button>
              </div>
            </form>
          </div>
        </div>

        <hr />

        <h3 class="top-buffer3"> Pending </h3>
        <table class="table table-bordered top-buffer1" id="careerBody">
          <thead>
            <th>#</th>
            <td>Qualification</td>
            <td>Institution</td>
            <td>Start Date</td>
            <td>End Date</td>
          </thead>
        </table>
      </div>
    </div>

  </body>
  <script>
  var accounts = ["cabigon", "aa"];
  for (var i=0; i<accounts.length; i++){
    $("#accountList").append(
      "<a class='dropdown-item' href='/request?" + accounts[i] + "'>" +
      accounts[i] +
      "</a>");
    }
    var vitaes = [{"position": "engineer", "institution": "abc startup", "from": "20170801", "to": "20170901"}];

    if(vitaes.length == 0) {
      $("#careerBody").append("<tbody>"+
        "<td colspan='5' class='text-center'>" + "No pending at this moment" + "</td>"+
      "</tbody>");
    }

    for (var i=0; i<vitaes.length;i++) {
      $("#careerBody").append("<tbody>"+
        "<th>" + (i+1) +"</th>"+
        "<td>" + vitaes[i].position + "</td>"+
        "<td>" + vitaes[i].institution + "</td>"+
        "<td>" + vitaes[i].from + "</td>"+
        "<td>" + vitaes[i].to + "<button type='button' class='close text-center' aria-label='Close'>" +
          "<span aria-hidden='true'>&times;</span>" +
        "</button></td>" +
      "</tbody>");
    }

  </script>
</html>
