<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/script.ejs %>
  </head>

  <body>
    <% include ./common/nav.ejs %>
    <div class="col-sm-9 off-sm-3 col-md-10 offset-md-2">
      <div class="container">
        <h1 class="text-center top-buffer3"> Request for Experience </h1>
        <h3 class="top-buffer1">Request Details</h3>
        <div class="card card-outline-secondary top-buffer1">
          <div class="card-block">
            <form name="requestForm" class="form" role="form" method="post" action="/request/submit" autocomplete="off" onsubmit="return validateForm()">
              <div class="form-group row top-buffer1" style="margin-top: 1rem">
                <label class="col-lg-2 col-form-label form-control-label text-center">Your Addr</label>
                <div class="col-lg-6 input-group">
                  <input id="yourAddr" class="form-control monospace curAddr" name="employee" type="text" placeholder="No address selected" readonly="readonly">
                </div>
                <div class="col-lg-3 mr-1 input-group">
                  <span class="form-control" id="yourName" readonly>
                    <script>
                        function loadName(){
                            for (var i=0; i < accounts.length;i++){
                                if (accounts[i].addr === sessionStorage.currentAddress){
                                    $('#yourName').text(accounts[i].name);
                                    break;
                                }
                            }
                        }
                        loadName();
                        $('#yourAddr').on('input',function(){
                            loadName();
                        })
                    </script>
                  </span>
                </div>
              </div>
              <div class="form-group row top-buffer1">
                <label class="col-lg-2 col-form-label form-control-label text-center">Company Addr</label>
                <div class="col-lg-6 input-group" id="yourInstitution">
                  <input class="form-control monospace" name="institution" type="text" placeholder="Ethereum address of the Company" required>
                  <button id="searchInstitution" class="input-group-addon" type="button">search</button>
                </div>
                <script>
                    $('#searchInstitution').click(function(){
                        $.get('/request/search?addr='+$('form input[name=institution]').val(), function(institutionName){
                            $('#institutionName').text(institutionName);
                        });
                    });
                </script>
                <div class="col-lg-3 mr-1 input-group" id="yourInstitution">
                  <span id="institutionName" class="form-control" readonly>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">Positon</label>
                <div class="col-lg-9 mr-1" id="yourPosition">
                  <input class="form-control" name="position" type="text" placeholder="Position Title" required>
                  <div class='invalid-feedback'>The name cannot exceed 32 characters</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">From</label>
                <div class="input-group col-lg-9">
                  <input class="form-control" name="start" type="date" placeholder="Date when the job started" required>
                  <script>
                    $('input[name="start"]').change(function(){
                        $('input[name="end"]').attr('min', $(this).val());
                    })
                  </script>
                  <div class="input-group-addon">To</div>
                  <input class="form-control" name="end" type="date" placeholder="Date when the job ended" required>
                </div>
                <script>
                    $('input[name="end"]').change(function(){
                        $('input[name="start"]').attr('max', $(this).val());
                    })
                </script>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label form-control-label text-center">Academic</label>
                <div class="col-lg-9 mr-1">
                  <input type="checkbox" name="academic" value="true" style="height:100%;">
                </div>
                <div class="text-right">
                  <button type="submit" class="btn-info btn"> Send </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <hr />

        <h3 class="top-buffer3"> Pending </h3>
        <table class="table table-bordered top-buffer1">
          <thead>
            <th>#</th>
            <td>Qualification</td>
            <td>Institution</td>
            <td>Academic</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Cancel</td>
          </thead>
          <tbody id="pendingBody">
          </tbody>
        </table>
      </div>
    </div>

  </body>
  <script>
    loadVitaes();

    function loadVitaes(){
        $('#pendingBody').html(
            "<tr>" +
              "<td colspan='7'>" +
                "<div class='spinner'>" +
                  "<div class='rect1'></div>" +
                  "<div class='rect2'></div>" +
                  "<div class='rect3'></div>" +
                  "<div class='rect4'></div>" +
                  "<div class='rect5'></div>" +
                "</div>" +
              "</td>" +
            "</tr>"
        );
        $.get('request/ajax?addr='+sessionStorage.currentAddress, function(vitaes){
            updateTable(vitaes);
        });
    }

    function updateTable(vitaes){
        if(vitaes.length === 0) {
          $("#pendingBody").html(
            "<tr>" +
              "<td colspan='7' class='text-center'>" + "No pending at this moment" + "</td>"+
            "</tr>"
          );
        }
        else{
            $('#pendingBody').html('');
            for (var i=0; i<vitaes.length;i++) {
                $("#pendingBody").append(
                    "<tr>" +
                      "<th>" + (i+1) +"</th>"+
                      "<td>" + vitaes[i].position + "</td>"+
                      "<td><abbr title='" + vitaes[i].institutionAddr + "'>" +
                        vitaes[i].institution +
                      "</abbr></td>" +
                      "<td><i class='fa fa-4 fa-" + (vitaes[i].academic ? "check" : "times")+ "'></i></td>"+
                      "<td>" + vitaes[i].from + "</td>"+
                      "<td>" + vitaes[i].to + "</td>" +
                      "<td>" +
                        "<input type='button' class='btn btn-danger' value='Cancel' onclick='location.href=\"" +
                        "http://localhost:3001/request/cancel?hash=" + vitaes[i].hash +
                        "&addr=" + sessionStorage.currentAddress +
                        "\"'>" +
                      "</td>" +
                    "</tr>"
                );
            }
        }
    }

    $("#accountList a").click(function(){
        $('.curAddr').text(sessionStorage.currentAddress);
        $('.curAddr').val(sessionStorage.currentAddress);
        for (var i=0; i < accounts.length;i++){
            if (accounts[i].addr === sessionStorage.currentAddress){
                $('#yourName').text(accounts[i].name);
                break;
            }
        }
    });

    function validateForm() {
      var employee = document.forms["requestForm"]["employee"].value;
      var position = document.forms["requestForm"]["position"].value;
      var institution = document.forms["requestForm"]["institution"].value;
      var start = document.forms["requestForm"]["start"].value;
      var end = document.forms["requestForm"]["end"].value;

      var pass = true;

      if(position.length>32) {
        $("#yourPosition .invalid-feedback").css({"display":"block"});
        pass = false;
      }
      else {
        $("#yourPosition .invalid-feedback").css({"display":"none"});
      }
      if(end < start) {
        $("#yourEnd .invalid-feedback").css({"display":"block"});
        pass = false;
      }
      else {
        $("#yourEnd .invalid-feedback").css({"display":"none"});
      }
      return pass;
    }
  </script>
</html>
