<!--DOCTYPE HTML-->
  <nav class="navbar sticky-top navbar-light" style="background-color: #007BFF">
    <a class="navbar-brand" href="/" style="color: #fff"> ChainVitae</a>
    <div id="searchBar" class="nav-item form-inline input-group" style="margin-right:7%; width:45%;">
      <input type="text" class="form-control monospace" placeholder="Search vitae ID...">
      <span class="dropdown input-group-btn">
        <div id="searchResult" class="dropdown-menu" style="padding: .5rem;">
          <div class="dropdown-item" style="padding: 0">
            <table class="table table-bordered" style="margin: 0">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Institution</td>
                  <td>Position</td>
                  <td>Academic</td>
                  <td>Start Date</td>
                  <td>End Date</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button id="searchBtn" class="btn btn-info" type="button" data-toggle="dropdown">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <div class="dropdown show">
      <a class="btn btn-info monospace curAddr" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose account...
      </a>

      <div id="accountList" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      </div>
    </div>
  </nav>
  <!-- sidebar -->
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" style="background-color: #F0FFF0">
    <ul class="nav flex-columnn nav-pills">
      <li class="nav-item">
        <a class="nav-link" id="navcareer" href="/career">Career Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navrequest" href="/request">Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" id="navcvmaker" href="##">CV Maker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navregister" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navendorse" href="/endorse">Endorse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navamend" href="/amend">Amend</a>
      </li>
    </ul>
  </nav>

  <script>
    var accounts = <%- JSON.stringify(accounts) %>;
    for (var i=0; i < accounts.length; i++){
        if (accounts[i].addr === sessionStorage.currentAddress){
            if (accounts[i].role.length === 0){
                notRegistered();
            }
            else
            if (accounts[i].role === "  (Employee)"){
                employee();
            }
            else
            if (accounts[i].role === "   (Institution)"){
                institution();
            }
        }
        $("#accountList").append(
            "<li><a class='dropdown-item addr text-right' href='#'>" +
            //"<a class='dropdown-item addr' href='/request?addr=" + accounts[i].addr + "'>" +
            accounts[i].name + accounts[i].role + "<br/><small class='monospace' style='color: #D3D3D3'>" +
            accounts[i].addr +
            "</small></a></li>"
        );
    }
    $('.addr').click(function(){
      sessionStorage.setItem('currentAddress', $(this).find('small').text());
      $(this).text(function(i, s){
          var c = s[s.lastIndexOf(')')-1];
          if (c === undefined){
              notRegistered();
          }
          else
          if (c === 'e'){
              employee();
          }
          else
          if (c === 'n'){
              institution();
          }
      })
      $('.curAddr').text($(this).find("small").text());
      $('.curAddr').val($(this).find("small").text());
      loadVitaes();
    });

    $(document).ready(function () {
        $('.curAddr').text(sessionStorage.currentAddress);
        $('.curAddr').val(sessionStorage.currentAddress);
        $('#nav' + window.location.pathname.substr(1) + '').attr('href', '#');
        $('.nav-pills a[href="#"]').addClass("active");
    });

    function notRegistered(){
        if (!window.location.pathname.substr(1).startsWith("register")){
            window.location="http://localhost:3001/register?addr="+sessionStorage.currentAddress;
        }
        else{
            $('#navregister').removeClass("disabled");
            $('.nav-pills a').not($('#navregister')).addClass("disabled");
            $('.nav-pills a').not($('#navregister')).attr("href", "##");
        }
    }
    function employee(){
        if (!window.location.pathname.substr(1).startsWith("career") && !window.location.pathname.substr(1).startsWith("request")){
            window.location="http://localhost:3001/career?addr="+sessionStorage.currentAddress;
        }
        else{
            $('#navcareer, #navrequest').removeClass("disabled");
            $('#navcareer').attr("href", "/career?addr=" + sessionStorage.currentAddress);
            $('#navrequest').attr("href", "/request?addr=" + sessionStorage.currentAddress);
            $('.nav-pills a').not($('#navcareer, #navrequest')).addClass("disabled");
            $('.nav-pills a').not($('#navcareer, #navrequest')).attr("href", "##");
        }
    }
    function institution(){
        if (!window.location.pathname.substr(1).startsWith("endorse") && !window.location.pathname.substr(1).startsWith("amend")){
            window.location="http://localhost:3001/endorse?addr="+sessionStorage.currentAddress;
        }
        else{
            $('#navendorse, #navamend').removeClass("disabled");
            $('#navendorse').attr("href", "/endorse?addr=" + sessionStorage.currentAddress);
            $('#navamend').attr("href", "/amend?addr=" + sessionStorage.currentAddress);
            $('.nav-pills a').not($('#navendorse, #navamend')).addClass("disabled");
            $('.nav-pills a').not($('#navendorse, #navamend')).attr("href", "##");
        }
    }
    $('#searchBtn').click(function(){
        $('#searchResult').css('left', $('#searchBtn').parent().width() - $('#searchBar').width());
        $('#searchResult tbody tr').html(
            "<td colspan='6'>" +
              "<div class='spinner'>" +
                "<div class='rect1'></div>" +
                "<div class='rect2'></div>" +
                "<div class='rect3'></div>" +
                "<div class='rect4'></div>" +
                "<div class='rect5'></div>" +
              "</div>" +
            "</td>"
        );
        $.get('search?hash='+$('#searchBar input').val(), function(vitae, status){
            if (vitae === ''){
                $('#searchResult tbody tr').html(
                  "<td colspan='6' style='text-align: center;'>"+
                    "No Result"+
                  "</td>"
                );
            }
            else{
                $('#searchResult tbody tr').html(
                  "<td><abbr title='" + vitae.employeeAddr + "'>" + 
                    vitae.employee +
                  "</abbr></td>" +
                  "<td><abbr title='" + vitae.institutionAddr + "'>" +
                    vitae.institution +
                  "</abbr></td>" +
                  "<td>" + vitae.pose+ "</td>" +
                  "<td><i class='fa fa-" + (vitae.academic ? "check" : "times") + "'></i></td>" +
                  "<td>" + new Date(vitae.start).toDateString().substring(4) + "</td>" +
                  "<td>" + new Date(vitae.end).toDateString().substring(4) + "</td>"
                );
            }
        });
    });
  </script>
