body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.monospace{
  font-family: "Consolas", "Lucida Console", Monaco, monospace
}

.fit{
  white-space: nowrap;
  width: 1%;
}

html, body {
  height: 100%
}

.top-buffer3 {
  margin-top: 60px
}

.top-buffer1 {
  margin-top: 20px
}

a {
  color: #00B7FF;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav-link active{
  background-color: black;
}
